.app-container {
    position: absolute;
    min-width: 300px;
    max-width: 800px;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: 75%;
}

.title-container {
    margin: 8px;
}

.title-text {
    text-align: center;
    font-size: 24px;
}

.execute-button-container {
    vertical-align: middle;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.execute-button {
    align-self: end;
    margin: 4px;
    min-width: 100px;
}


.param-container {
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.param-label {
    position: absolute;
    left: 4px;
    margin: 2px;
    width: 100px;
}

.test-param-option {
    margin: 2px;
    min-width: 100px;
    align-self: end;
}

.test-log {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 280px;
    max-height: 100%;
    box-sizing: border-box;
}

.test-log-container {
    margin: 8px;
    width: auto;
    max-height: 100%;
}

.all-notes-container {
    margin: 8px;
}